<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="olv-cam01">
  <!-- 
    olv-cam01 Macro
    Parameters:
    - namespace: give this camera a name
    - parent_link: Define which link the cam is mounted to
    - mounting_side: Specifies the mounting side of the cam.
      Acceptable values are: 'bottom', 'back', 'left', 'right'.
    - mounting_rotation: Specifies an additional rotation around the cam's root frame during mounting
-->
  <xacro:macro params="namespace:=olv_cam01 parent_link mounting_side mounting_rotation"
    name="olv-cam01">
    <link name="${namespace}_body_link">
      <visual>
        <geometry>
          <mesh filename="package://olv_module_descriptions/meshes/olv-cam01.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.04 0.04 0.04" />
        </geometry>
        <origin xyz="0 0 0.005" />
      </collision>
    </link>
    <link name="${namespace}_bottom_link" />
    <link name="${namespace}_right_link" />
    <link name="${namespace}_left_link"/>
    <link name="${namespace}_back_link"/>
    <link name="${namespace}_camera_link"/>


    <!-- Check for unexpected value and print warning -->
    <xacro:if
      value="${mounting_side != 'bottom' and mounting_side != 'back' and mounting_side != 'left' and mounting_side != 'right'}">
      <xacro:warning>Unexpected value for mounting_side in olv-cam01 macro. Accepted values are
        'bottom', 'back', 'left', 'right'. Using default 'bottom'.</xacro:warning>
      <xacro:property name="mounting_side" value="bottom" />
    </xacro:if>

    <!-- Conditional translations based on mount_frame -->
    <xacro:if value="${mounting_side == 'bottom'}">
      <xacro:property name="mount_translation" value="0 0 0.015" />
      <xacro:property name="mount_rotation" value="0 0 ${mounting_rotation}" />
    </xacro:if>
    <xacro:if value="${mounting_side == 'back'}">
      <xacro:property name="mount_translation" value="0 0 0.02" />
      <xacro:property name="mount_rotation" value="0 -1.57079632679 ${mounting_rotation}" />
    </xacro:if>
    <xacro:if value="${mounting_side == 'left'}">
      <xacro:property name="mount_translation" value="0 0 0.02" />
      <xacro:property name="mount_rotation" value="1.57079632679 0 ${mounting_rotation}" />
    </xacro:if>
    <xacro:if value="${mounting_side == 'right'}">
      <xacro:property name="mount_translation" value="0 0 0.02" />
      <xacro:property name="mount_rotation" value="-1.57079632679 0 ${mounting_rotation}" />
    </xacro:if>


    <joint name="${namespace}_body_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${namespace}_body_link" />
      <origin xyz="${mount_translation}" rpy="${mount_rotation}" />
    </joint>

    <joint name="${namespace}_bottom_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_bottom_link" />
      <origin xyz="0 0 -0.015" rpy="3.14159265359 0 -1.57079632679" />
    </joint>
    <joint name="${namespace}_right_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_right_link" />
      <origin xyz="0 0.02 0" rpy="-1.57079632679 3.14159265359 0" />
    </joint>
    <joint name="${namespace}_left_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_left_link" />
      <origin xyz="0 -0.02 0" rpy="1.57079632679 0 0" />
    </joint>
    <joint name="${namespace}_back_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_back_link" />
      <origin xyz="-0.02 0 0" rpy="1.57079632679 0 -1.57079632679" />
    </joint>
    <joint name="${namespace}_camera_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_camera_link" />
      <origin xyz="0 0 0.02" rpy="0 0 0" />
    </joint>

  </xacro:macro>
</robot>