<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="olv-gnx01">
  <!-- 
    olv-gnx01 Macro
    Parameters:
    - namespace: give this imu a name
    - parent_link: Define which link the imu is mounted to
    - mounting_side: Specifies the mounting side of the cam.
      Acceptable values are: 'bottom', 'top'
    - mounting_rotation: Specifies an additional rotation around the imu's mounting frame's z-axis
-->
  <xacro:macro params="namespace:=olv_gnx01 parent_link mounting_side mounting_rotation"
    name="olv-gnx01">
    <link name="${namespace}_body_link">
      <visual>
        <geometry>
          <mesh filename="package://olv_module_descriptions/meshes/olv-gnx01.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.04 0.04 0.032"/>
        </geometry>
        <origin xyz="0 0 0.008" />
      </collision>
    </link>
    <link name="${namespace}_bottom_link" />

    <!-- Check for unexpected value and print warning -->
    <xacro:if
      value="${mounting_side != 'bottom'}">
      <xacro:warning>Unexpected value for mounting_side in olv-gnx01 macro. Accepted values are
        'bottom', 'top'. Using default 'bottom'.</xacro:warning>
      <xacro:property name="mounting_side" value="bottom" />
    </xacro:if>

    <!-- Conditional translations based on mount_frame -->
    <xacro:if value="${mounting_side == 'bottom'}">
      <xacro:property name="mount_translation" value="0 0 0.009" />
      <xacro:property name="mount_rotation" value="0 0 ${mounting_rotation}" />
    </xacro:if>

    <joint name="${namespace}_body_joint" type="fixed">
      <parent link="${parent_link}" />
      <child link="${namespace}_body_link" />
      <origin xyz="${mount_translation}" rpy="${mount_rotation}" />
    </joint>

    <joint name="${namespace}_bottom_joint" type="fixed">
      <parent link="${namespace}_body_link" />
      <child link="${namespace}_bottom_link" />
      <origin xyz="0 0 -0.009" rpy="3.14159265359 0 -1.57079632679" />
    </joint>
  </xacro:macro>
</robot>